.about {
  font-family: $MNT;
  padding-top: 50px;
  font-size: 1.6rem;

  /*max-width 500px*/
  @media screen and (max-width: 500px) {
    font-size: 1.4rem;
    padding-top: 30px;
  }

  .about__title {
    font-size: inherit;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .tariffs__message {
    font-size: inherit;
    text-align: left;
    padding: 20px 0;

    span{
      margin-bottom: 10px;
      display: inline-block;
    }
  }

  .about__inf{
    font-size: inherit;
    margin-bottom: 10px;

    span{
      font-weight: 700;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
}



// Contacts-sec ----------------------------------
.contacts-sec{
  font-family: $MNT;
  margin-top: 100px;
  margin-bottom: 80px;

  /*max-width 950px*/
  @media screen and (max-width: 950px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /*max-width 500px*/
  @media screen and (max-width: 500px) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .contacts-sec__container{
    display: flex;
    flex-wrap: wrap;
  }

  .col{
    width: 50%;

    /*max-width 900px*/
    @media screen and (max-width: 900px) {
      width: 100%;
    }

    &.contacts-sec__information{
      padding-right: 35px;

      /*max-width 900px*/
      @media screen and (max-width: 900px) {
        padding: 20px 0;
      }
    }

    &.contacts-sec__map{
      padding-left: 35px;

      /*max-width 900px*/
      @media screen and (max-width: 900px) {
        padding: 20px 0 0;
      }
    }
  }

  .contacts-sec__title{
    font-size: 2rem;
    margin-bottom: 46 / 20 * 1em;

    /*max-width 500px*/
    @media screen and (max-width: 500px) {
      margin-bottom: 1.2em;
    }
  }

  .contacts-sec__subtitle{
    font-size: 1.6rem;
    margin-bottom: 24 / 16 * 1em;
  }

  .contacts-sec__row{
    font-size: 16px;
    padding: 29 / 16 * 1em 0;
    border-top: 1px solid #dfe0e1;
    border-bottom: 1px solid #dfe0e1;

    /*max-width 500px*/
    @media screen and (max-width: 500px) {
      font-size: 1.4rem;
      padding: 1.4rem 0;
    }

    span{
      font-weight: 700;
    }

    a{
      text-decoration: none;
      color: black;

      transition: all 0.2s linear;

      &:hover{
        color: #e1bd0a;
      }
    }
  }
}